:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --Gray-500: hsl(0, 0%, 42%);
  --Gray-950: hsl(0, 0%, 7%);
}
@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: 500 800;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  font-size: 1em;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--yellow);
}

main {
  background-color: var(--white);
  padding: 20px;
  border-radius: 20px;
  border: 3px solid var(--Gray-950);
  box-shadow: 10px 10px var(--Gray-950);
}

h1 {
  font-size: 1.5em;
}

.tag {
  background-color: var(--yellow);
  border-radius: 12px;
  padding: 10px 15px;
  display: inline-block;
  font-weight: 800;
  transition: filter 0.3s ease;
}

.tag:hover {
  background-color: var(--yellow);
  filter: brightness(60%);
}

.illustration {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.content {
  color: var(--Gray-500);
}

.author {
  color: var(--Gray-950);
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 10px;
}

.author img {
  max-width: 40px;
  max-height: 40px;
}
